html,body,.registroUsuarios{
    height: 100%!important;
}
.contrasena, .nombre, .personal, .academico{
    display:none;
}
/*body {
    
    vertical-align: auto;
    background: #fff;
    margin:1em;
    padding: 1em;
}*/
.rith{
    float: right;
}
.left{
    float: left;
}
button{
    margin-top: 2em;
}
.container { border:2px solid #ccc; width:300px; height: 12em; overflow-y: scroll;}